@charset 'utf8';

/*　共通 	-----------------------------------------*/
html, body {
    margin: 					0;
    padding: 					0;
    width: 						100% !important;
    height: 					100%;
}
ul{
	list-style:					none;
}
.center{
	text-align: 				center;
}
/*　\共通	-----------------------------------------*/
/*　title	-----------------------------------------*/
.title-html{
	background-image: 	url("../img/top2.jpg");
	background-repeat: 	no-repeat;
	background-size: 		cover;
}
.title-body{
	background: 				rgba(20,20,20,0.5);
}
.title-main {
    width: 						100%;
    margin: 					0 auto;
		margin: 					20% 0 0 0;
}
.image-logo {
    width: 						50%;
}
.tool-name {
    color: 						#0d0;
    font-size: 				48px;
    font-family: 			unset;
}
.concept-text{
	color: 							#fff;
}
.login-list {
    color: 						rgba(255,255,255,0.7);
}
.login-list p {
    margin: 10px;
    background: rgba(40,40,40,0.6);
    color: #fff;
    padding: 10px;
}
/*　/title -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
/*　共通 -----------------------------------------*/
